/* styles.css */

.button-confirm {
    -fx-text-fill: white;
    -fx-background-color: rgba(20,56,22,0.9);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.button-exit {
    -fx-background-color: rgba(56, 20, 20, 0.8);
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.text-area-feedback {
    -fx-background-color: #f0f0f0;
}

.hbox-bottom {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 2px;
}


.separator-divider {
    -fx-background-color: white;
}

.button-submit {
    -fx-background-color: rgba(20,56,22,0.9);
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.label-instructions{
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-padding: 10;
}
.text-field {
    -fx-background-color: #fff;
    -fx-padding: 5;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: rgba(63, 100, 66, 0.9);
    -fx-border-width: 1px;
}

.button-nav {
    -fx-background-color: rgba(115, 154, 117, 0.9);
    -fx-text-fill: white;
    -fx-padding: 8 18;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 0);
}
